mixin about
  +b.about-home.content
    .container
      +h2('О компании')
      .row
        .col-xs-18.col-md-3.text-center.text-md-left
          +e.IMG.wrap(src="img/about1.png", alt="")

        .col-xs-18.col-md-13.offset-md-1
          P Наша компания занимается производством винилового сайдинга «Винилон» и реализует продукцию оптом напрямую с завода. На официальном сайте указаны все условия продажи для удобного заказа.

          P Продукция «Оквилл Хаус» изготавливается по современным технологиям на новейшем оборудовании. За 10 лет деятельности завод смог занять лидирующие позиции на рынке строительных и отделочных материалов.

          P Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции обеспечивает широкому кругу (специалистов) участие в формировании направлений прогрессивного развития. 

          P Полимерный сайдинг производителя «Оквилл Хаус» просто и оперативно монтируется на любую поверхность: древесину, металл, бетон, кирпич.

        .col-xs-18.col-md-18.col-lg-18
          p Особенности выбора сайдинга. 

          p Качественный материал должен быть: 

          ul
            li эластичным и без видимых дефектов;
            li с документацией;
            li равномерно окрашен;
            li с одинаковой толщиной.

          p Сайдинг в полной мере соответствует этим требованиям. Он имеет однородную структуру и привлекательный внешний вид.
