mixin breadcrumbs(b1, b2)
  nav.mb-30(aria-label="breadcrumb")
    ol.breadcrumb
      li.breadcrumb-item
        a(href="#") Главная

      if b2
        li.breadcrumb-item.active 
          a(href="#") #{b1}
        li.breadcrumb-item.active #{b2}
      else
        li.breadcrumb-item.active #{b1}
