mixin header
  +b.HEADER.header
    .container
      .row
        .col.s2
          +e.logo-container
            img(src="img/logo-h.png", alt="Сайдинг, Кровля, Водостоки")
        .col.s7
          +b.nav
            +b.title Сайдинг, Кровля, Водостоки
            +e.NAV.d-menu
              ul
                li
                 a(href="#") Компания
                li
                  a(href="#") Услуги
                li
                  a(href="#") Цены
                li
                  a(href="#") Выполненые работы
                li
                  a(href="#") Контакты
                  
        .col.s3
          +e.contacts
