mixin header
  +b.HEADER.header
    .container
      .row
        .col.s3
          +e.logo-container
            img(src="", alt="")
        .col.s6
          +b.nav
            +b.title Сайдинг, Кровля, Водостоки
            +e.NAV.d-menu
              ul
                li
                li
                li
                li
                li
                li
        .col.s3
          +e.contacts
