include sub-menu
mixin header
  +b.HEADER.header
    .container
      .row
        .col-xs-18.col-md-11.col-lg-3.text-center
          +e.logo-container.sep-r
            img(src="img/logo-h.png", alt="Сайдинг, Кровля, Водостоки")
          +b.nav.pt-sm-5
            .d-md-flex.d-lg-none.justify-content-between.align-items-center
              +b.H1.title Сайдинг, Кровля, Водостоки
              +b.societ.pr-10.d-none.d-md-flex.d-lg-none
                +e.A(href=".")
                  +icon-svg('vk')
                +e.A(href=".")
                  +icon-svg('instagram-logo')
                +e.A(href=".")
                  +icon-svg('facebook-logo')
        .col-xs-18.col-sm-5.d-lg-none.text-right.d-none.d-md-block
          +b.fhone
            +icon-svg('call-answer')
            +e.A(href="tel:79219156551").tel
              span +7 (921)
              span 915-65-51
          button.waves-effect.waves-red.btn
            span Нужна консультация?
            img.ml-10(src="img/btn-consult.png", alt="консультация")
        .col-xs-18.col-md-18.col-lg-11.pt-xs-10.pt-sm-10.pt-lg-0.d-none.d-md-block
          +b.nav
            .d-flex.flex-row.justify-content-between.align-items-center
              +b.H1.title.d-lg-block.d-none Сайдинг, Кровля, Водостоки
              +b.societ.pr-10.d-sm-none.d-lg-flex
                +e.A(href=".")
                  +icon-svg('vk')
                +e.A(href=".")
                  +icon-svg('instagram-logo')
                +e.A(href=".")
                  +icon-svg('facebook-logo')

            +e.NAV.d-menu
              ul
                li
                 a(href=".") Компания
                li.dropdown
                  a(href=".") Услуги
                  +subMenu
                li
                  a(href=".") Цены
                li
                  a(href=".") Выполненые работы
                li
                  a(href=".") Контакты

        .col-xs-18.col-md-4.col-lg-4.d-none.d-lg-block
          +b.fhone
            +icon-svg('call-answer')
            +e.A(href="tel:79219156551").tel
              span +7 (921)
              span 915-65-51
          button.waves-effect.waves-red.btn
            span Нужна консультация?
            img.ml-10(src="img/btn-consult.png", alt="консультация")

      .hamburger-icon-menu-wrapper
        .hamburger-ui
          ul
            li
              a(href='#')
                span.nav-toggler

        nav.full-screen-menu
          ul
            li
              a(href='#') Компания

            li
              a(href='#') Услуги

            li
              a(href='#') Цены

            li
              a(href='#') Выполненые работы

            li
              a(href='#') Контакты

            li.mt-10
              a.tel(href="tel:79219156551")
                +icon-svg('call-answer')
                span.pl-10 +7 (921)
                span.pr-40 915-65-51
