mixin infoBtn
  +b.infobtn.d-flex.justify-content-sm-end
    +e.A(href="#").item.btn-info.btn
      |Расчёт стоимости сайдинга
      img(src="img/calc.png", alt="")
    +e.A(href="#").item.btn-info.btn.btn-info-gray
      |Какого производителя выбрать?
      img(src="img/info.png", alt="")