mixin subMenu
  ul.sub-menu
    li
      a(href="service-item.html") Сайдинг
    li
      a(href="service-item.html") Фасадные панели
    li
      a(href="service-item.html") Водосточные системы
    li
      a(href="service-item.html") Дренажные системы
    li
      a(href="service-item.html") Газонная решётка
    li
      a(href="service-item.html") Акции на монтаж    