mixin subMenu
  ul.sub-menu
    li
      a(href="#") Сайдинг
    li
      a(href="#") Фасадные панели
    li
      a(href="#") Водосточные системы
    li
      a(href="#") Дренажные системы
    li
      a(href="#") Газонная решётка
    li
      a(href="#") Акции на монтаж    