mixin worksHome
  +b.works-home.text-center
    .container 
      .d-lg-flex.flex-lg-row.flex-lg-nowrap.flex-sm-wrap
        +e.A(href="#").item
          +e.DIV.item-wrap
            img(src="img/works-home/siding.png", alt="Сайдинг")
            p Сайдинг

        +e.A(href="#").item
          +e.DIV.item-wrap
            img(src="img/works-home/fasad.png", alt="Фасадные панели")
            p Фасадные панели

        +e.A(href="#").item
          +e.DIV.item-wrap
            img(src="img/works-home/vodostok.png", alt="Фасадные панели")
            p Водосточные системы

        +e.A(href="#").item
          +e.DIV.item-wrap
            img(src="img/works-home/Drainage.png", alt="Фасадные панели")
            p Дренажные системы

        +e.A(href="#").item
          +e.DIV.item-wrap
            img(src="img/works-home/gazon_копия.png", alt="Фасадные панели")
            p Газонная решётка

        +e.A(href="#").item
          +e.DIV.item-wrap
            img(src="img/works-home/sale.png", alt="Фасадные панели")
            p Акции на монтаж