.header {
  padding: 15px 0;
  &__logo-container {
    padding: 20px 20px 15px 0;
  }
  .title {
    font-size: 20px;
    padding: 8px 30px 8px;
    font-family: "Pragmatica Bold Cyrillic";
    text-transform: uppercase;
  }
  .nav {
    ul {
      margin: 1px 0 0 0;
      padding: 0 15px;
      display: flex;
      background-color: #f5f3f7;
      flex-direction: row;
      justify-content: space-between;
    }
    li {
      transition: background-color .3s;
      padding: 0;
    }
    a {
      transition: background-color .3s;
      text-transform: uppercase;
      font-size: 0.8rem;
      color: $link-menu;
      display: block;
      padding: 15px;
      cursor: pointer;
      &:hover {
        color: $link-menu-hover;
      }
      &:hover svg {
        fill: $link-menu-hover;
      }
    }
    &__d-menu{
      overflow: hidden;
      padding: 0;
      color: #fff;
      
      width: 100%;
      border-top: 1px solid $collection-border-color;
    }

  }
  .fhone {
    padding-top: 6px;
    padding-bottom: 15px;
  }
  svg {
    height: 15px;
    width: 15px;
    fill: #607079;
  }
  @include media-breakpoint-down(lg) {
    &__logo-container {
      float: left;
    }
  }
  @include media-breakpoint-down(sm) {
    &__logo-container {
      float: none;
    }
  }
  @include media-breakpoint-up(md) {
    .sep-r {
      border-right: 1px solid #dddddd;
    }
  }  
}