.promo {
  &__container{
    background-color: #e2e1dd;
    background: url("../img/bg-promo.png") ;
    background-size: cover;
    img {
      display: block;
      max-width: 100%;
      margin: 0 auto;
    }
  }

}
