.service-desc {
  margin-top: 50px;
  &__pic {
    margin: 0 30px 15px 0;
    @include media-breakpoint-down(lg) {
      float: left;

    }
  }

}


.service-calc {
  &__form {
    label {
      display: inline-block;
      font-size: 12px;
      color: #212121;
      text-transform: uppercase;
      width: 130px;
    }  
  }
}
  