.works {
  &__link-wrap {
    opacity: 0;
    div {
      color: #ffffff;
      font-weight: 500;
      font-family: 'HelveticaNeueCyr-Bold';
      padding: 30px;
      max-width: 300px;
      @include media-breakpoint-up(md) {
        margin-left: 40px;
      }
      text-align: left;
      p {
        font-family: 'HelveticaNeueCyr-Light';
        font-size: 13px;
      }
    }
  }

  .overlow-work {
    position: absolute;
    top: 15px;
    bottom: 15px;
    left: 15px;
    right: 15px;
    background-color: rgba(219, 37, 39, 0.66);
    opacity: 0;
    transition: 0.2s;
    z-index: 0;
  }

  &__pic {
    &:hover {
      .works {
        &__link-wrap {
          opacity: 1;
        }
      }
      .overlow-work {
        opacity: 1;
      }
    }
  }
}


.service, .works {
  &__pic {
    position: relative;
    display: block;
    img {
      width: 100%;
    }
    .overlow {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.56);
      opacity: 0;
      transition: 0.2s;
      z-index: 1;
    }
    &:hover {
      .service {
        &__link-wrap {
          background-color: #fff;
          opacity: 1;
        }
      }
      .overlow {
        opacity: 1;
      }
    }
  }
  

  &__link {
    position: absolute;
    top: 50%;
    margin-top: -80px;
    left: 0;
    right: 0;
    z-index: 1;
  }
  &__link-wrap:not(.works__link-wrap) {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    width: 160px;
    height: 160px;
    border-radius: 100%;
    background-color: rgba(254, 254, 254, 0.88);
    transition: all 0.3s;
    p {
      color: #868e93;
      font-size: 12px;
      text-transform: uppercase;
      width: 94px;
    }
  }
}


.service-desc {
  margin-top: 50px;
  &__pic {
    margin: 0 30px 15px 0;
    @include media-breakpoint-down(lg) {
      float: left;
    }
  }
}

.service-cart{
  height: 490px;
  .container {
    background-color: #f8f7f9;
    height: 100%;
  }
  &__wrap {
    padding-top: 40px;
    padding-bottom: 40px;
   
  }
  &__wrap-pic {
    width: 100%;
    height: 320px;
    box-shadow: 11px 19px 62px rgba(185, 185, 185, 0.27);
    background-color: #ffffff;
  }
}

.control {

  &__wrap {
    @include media-breakpoint-up(sm) {
      padding-left: 30px;
    }
  }
  &__inf-price, &__buttons {
    width: 30%;
    height: 113px;
    margin: 15px;
    @include media-breakpoint-down(md) {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      width: 44%;
    }
    @include media-breakpoint-down(xs) {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
    }
  }

  &__inf-price {
    padding: 15px 8px 15px 15px;
    font-family: "Graphik-LC-Web";
    color: #7a8c96;
    small {
      font-size: 15px;
      padding-bottom: 15px;
      display: inline-block;
    }
    &:first-child span {
      font-size: 28px;

    }
    &:nth-child(2) span {
      font-size: 40px;
      color: #212121;
    }
  }

  &__inf-price {
    border-color: #eaff00;
    border-width: 8px;
    border-style: solid;
  }

  &__buttons {

    .btn{
      width: 100%;
      height: 50px;
      line-height: 50px;
      border-radius: 18px;
      &:first-child {
        margin-bottom: 10px;
        box-shadow: 6px 7px 24px rgba(112, 121, 133, 0.26);
        background: #ffffff;
        text-shadow: 3px 3px 12px rgba(33, 33, 33, 0.24);
        color: #9facbd;
        text-transform: uppercase;
      }
    }
  }

}

.watermark:after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  background: url('../img/watermark-logo.png') no-repeat;
  background-size: contain;
  box-shadow: 0 0 24px rgba(255, 255, 255, 0.38);
  width: 54px;
  height: 60px;
  z-index: 0;
}

.service-calc {
  &__form {
    label {
      display: inline-block;
      font-size: 12px;
      color: #212121;
      text-transform: uppercase;
      width: 130px;
    }
  }
}
