.sub-menu {
  box-shadow: 0 4px 21px rgba(20, 26, 45, 0.11);
  position: absolute;
  left: 0;
  top: 100%;
  z-index: 99;
}

.footer-nav {
  .sub-menu {
    min-width: 250px;
    a {
      color: #9ca8ab;
      font-size: 13px;
      font-weight: 300;
      text-transform: initial;
      padding: 8px;
      &:hover {
        color: $link-menu !important;
      }
    }
    li {
      padding: 7px 0;
    }
  }


}