.fhone {
  transition: 0.1s;
  svg {
    fill: #000;
  }  
  &__tel{
    span {
      color: #000;
      letter-spacing: 0.35px;
      padding: 0 4px;
      transition: 0.1s;
    }
    span:first-child {
      font-size: 11px;
    }
    span:last-child {
      font-family: "HelveticaNeueCyr-Bold";
      font-size: 26px;
    }
  }
  &:hover a span, &:hover, &:hover svg {
    color: $link-menu-hover !important;
    fill: $link-menu-hover !important;
  }
}

.page-footer  {
  .fhone {
    padding-bottom: 15px;
    a span {
      color: #9ca8ab;
    }
    svg {
      height: 15px;
      width: 15px;
      fill: #9ca8ab;
    }
  }
  .footer-callback {
    position: absolute;
    right: 30px;
    bottom: 0;
    @media (max-width: 800px) { 
      bottom: auto;
      top: 0;
    }
  }
}