@font-face {
	font-family: 'HelveticaNeueCyr-Bold';
	src: url('HelveticaNeueCyr-Bold.eot');
	src: local('HelveticaNeueCyr-Bold'), local('HelveticaNeueCyr-Bold'),
		url('HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
		url('HelveticaNeueCyr-Bold.woff') format('woff'),
		url('HelveticaNeueCyr-Bold.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: "Graphik-LC-Web";
	src: url('Graphik-Bold-Web.ttf');
	src: local('Graphik-Bold-Web'),local('Graphik-Bold-Web'),
		url('GraphikLCG-Bold.woff') format('woff'),
		url('Graphik-Bold-Web.ttf') format('truetype');
	font-style: normal;
}