include lib/variables
include lib/mixins
include blocks/page

+page('Pages List')
  +b.MAIN(class="margin-24")
    h1.margin-bottom-12 Pages List - #{pkg.description}
    ol
      each page in pagesList
        li.margin-bottom-8: a(href=page.url) #{page.title} #[small (#{page.url})]