-
  const pagesList = {
    index: {title: 'Главная', url: 'index.html'},
    contacts: {title: 'Контакты', url: 'contacts.html'},
    prices: {title: 'Цены', url: 'prices.html'},
    services: {title: 'Услуги', url: 'services.html'},
    serviceItem: {title: 'Сайдинг', url: 'service-item.html'},
    news: {title: 'Новости', url: 'news.html'},
    newsItem: {title: 'Новость', url: 'news-item.html'}
  };